services:
  app:
    build: .
    container_name: colaba-app
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/colabadb
      SPRING_DATASOURCE_USERNAME: colaba_user
      SPRING_DATASOURCE_PASSWORD: colaba_password
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - colaba-network

  postgres:
    image: postgres:18-alpine
    container_name: colaba-postgres
    environment:
      POSTGRES_DB: colabadb
      POSTGRES_USER: colaba_user
      POSTGRES_PASSWORD: colaba_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - colaba-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U colaba_user -d colabadb" ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s  # добавь это, чтобы дать время на инициализацию БД

volumes:
  postgres_data:

networks:
  colaba-network:
    driver: bridge