spring:
  application:
    name: task-service
  cloud:
    openfeign:
      client:
        config:
          user-service:
            connectTimeout: 1000
            readTimeout: 1000
    config:
      enabled: false  # TODO
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/colabadb}
    username: ${SPRING_DATASOURCE_USERNAME:colaba_user}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:validate}
    show-sql: ${SPRING_JPA_SHOW_SQL:false}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: ${SPRING_JPA_FORMAT_SQL:false}
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

server:
  port: 8083

feign:
  client:
    config:
      default:
        connect-timeout: 5000
        read-timeout: 2000
        logger-level: basic
        error-decoder: com.example.colaba.shared.feign.FeignErrorDecoder
  circuitbreaker:
    enabled: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://discovery-server:8761/eureka}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
  packages-to-scan: com.example.colaba.task.controller
  default-consumes-media-type: application/json
  default-produces-media-type: application/json