spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/COLABA-Tech/colaba-config-repo.git
          search-paths: config-repo
          default-label: main
          clone-on-start: true
          force-pull: true


  eureka:
    client:
      service-url:
        defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
      register-with-eureka: true
      fetch-registry: true

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: health,info,encrypt
  endpoint:
    health:
      show-details: always
