spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config-repo
        git:
          uri: ${CONFIG_REPO_URI:https://github.com/COLABA-Tech/colaba-config-repo.git}
          default-label: main
          clone-on-start: true

server:
  port: 8888

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://discovery-server:8761/eureka}